albumentations>=0.5.0
Cython>=0.25
future==0.18.0
loguru==0.3.2
mypy_extensions==0.4.1
lvis==0.5.3
numpy>=1.17
opencv-python==4.2.0.32
scikit-learn==0.21.3
sentencepiece>=0.1.90
torch==1.7.0
torchvision==0.8
tqdm>=4.50.0
git+git://github.com/facebookresearch/fvcore.git#egg=fvcore
git+git://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
