lmdb==0.97
mypy_extensions==0.4.1
numpy==1.17.2
opencv-python==4.1.0.25
pillow==6.1.0
sentencepiece==0.1.83
torch==1.2.0
tqdm==4.36.0
yacs==0.1.6
git+git://github.com/tensorpack/dataflow.git#egg=dataflow
